*{
    
}


#css{
    background-color: lightpink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size:x-large;
}
#my{
    background-color: lightgreen;
border-top-left-radius: 15%;
border-top-right-radius: 15%;
border-top: none;
  font-size:x-large;
}
#new{
    background-color: aqua;
      font-size:x-large;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border: 10px groove greenyellow;
}
h2{
    font-size: xx-large; 
    font-weight: 800px;
    text-shadow: 5px 5px 3px gray;
}
#head{
    font-size: 50px;
    text-align: center;
    color: cornflowerblue;
    background-image: url(images.jpg);
    background-repeat: no-repeat;
   background-size: cover;
    
}

#sam{
     font-size: xx-large; 
    font-weight: 800px;
    animation:move 2s infinite alternate-reverse;
}

.hobbies{
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700px;
    font-style: italic;
    opacity: 0;
    animation: fadeIn 5s forwards;
}

h4{
    font-size: xx-large; 
    font-weight: 800px;
}

#game{
font-size: x-large;
font-family: sans-serif;
font-weight: 800px;
color: lightsalmon; 

}

#nam{
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
    color:chartreuse;
    padding: 2px;
    text-align: center;
    box-shadow: 10px 5px 10px gray;
 border-width: 5px;
}

input[type="text"]{
    color:aqua;
    font-size: large;
    box-sizing: content-box;
    box-shadow: 10px 5px 10px 0px;
}
label{
    font-size:x-large;
}

input[type="password"]{
     color:lightgreen;
    font-size: large;
    box-sizing: content-box;
    box-shadow: 10px 5px 10px 0px;
}

input[type="email"]{
     color:purple;
    font-size: large;
    box-sizing: content-box;
    box-shadow: 10px 5px 10px 0px;
}
button{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:lightseagreen;
background-color: sandybrown;

}

form{
    
}
@keyframes fadeIn {
to {
    opacity: 1;
}
}

@keyframes move{
    from{
        color: red;
    }
to{
   color: lightcoral;
}
}

